[submodule "src/EcatV2_Master"]
	path = src/EcatV2_Master
	url = git@github.com:AIMEtherCAT/EcatV2_Master.git
[submodule "src/dji_referee_protocol"]
	path = src/dji_referee_protocol
	url = https://github.com/unnc-aim/dji_referee_protocol
[submodule "src/sp_vision_25_rosy"]
	path = src/sp_vision_25_rosy
	url = https://github.com/unnc-aim/sp_vision_25_rosy
[submodule "scripts/ros2_systemd_manager"]
	path = scripts/ros2_systemd_manager
	url = https://github.com/hnrobert/ros2_systemd_manager.git
[submodule "src/sentry_controller"]
	path = src/sentry_controller
	url = git@github.com:AIM-EC/sentry_controller.git
[submodule "src/universal_controller"]
	path = src/universal_controller
	url = git@github.com:AIM-EC/universal_controller.git
[submodule "src/pb2025_sentry_behavior"]
	path = src/pb2025_sentry_behavior
	url = git@github.com:unnc-aim/pb2025_sentry_behavior.git
